[run]
branch = True
source = .
omit =
    tests/*
    .venv/*
    */__pycache__/*

[report]
show_missing = True
skip_empty = True
precision = 2

[xml]
output = coverage.xml

[html]
directory = htmlcov
